
/*body {
	background-color:lightblue;
	font-family: 'Quicksand', sans-serif;
#Smash{
	
}
}
#top_nav{
	text-align: right;
}
#page_content {
	width: 85%;
	margin: auto;
}
#title {
	text-align:center;
	border-top-left-radius: 20px; 
		border-top-right-radius: 20px; 
		background-color: snow;
		text-shadow: 1px 1px 1px darkgrey;
		font-size: 2em;
		letter-spacing: .2em;
		color: midnightblue;

}
.top_nav_item {
	margin: 10px;
	color: midnightblue;
	text-decoration: none;
	font-size: 1.2em;
}

.top_nav_item:hover {
	margin: 10px;
	color: white;
	text-decoration: none;
}

img {
	border: darkgrey 3px solid;
	box-shadow: 5px 5px 5px lightblue;
	width: 250px;
	margin-right:20px;
	float: left;
	margin: right 20px;
}
#current_page {
	border-bottom: 2px solid midnightblue;*/
}
#description{
	padding:40px;
	color: darkgrey;
	background-color:snow;
	min-height: 20px;
}