body{
	background-image: url("infographic.jpg");
	background-position: center center;
	background-attachment: fixed;
	margin: 0;
	bac
/*	background-repeat: no-repeat;
	background-color: powderblue;*/
}
#title {
	margin: 50px auto;
	background-color: rgba(176,224,230, .5);
	width: 75%
	height: 75%;
	padding: 40px;
	font-size: 2em;
	text-align: center;
}

.title {
	display: inline;
	transition: all 0.5s ease;
	text-align: center;
}